.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}

.user-details {
  padding: 150px;
}

.user-list {
  text-decoration: none;
  color: black;
}

.user-list:hover {
  cursor: pointer;
}